In [36]:
import pandas as pd

In [37]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [38]:
mat.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [39]:
mat['sex']

0      F
1      F
2      F
3      F
4      F
      ..
390    M
391    M
392    M
393    M
394    M
Name: sex, Length: 395, dtype: object

In [40]:
boys, girls = [len(mat[mat['sex'] == 'M']), len(mat[mat['sex'] == 'F'])]

In [41]:
students_17_year_old = len(mat.query('age == 17 and G3 >= 10 and G3 <= 15'))

In [42]:
top_10_indexes = mat.loc[:, ['G1', 'G2', 'G3']].mean(axis=1).sort_values(ascending=False).head(10).index
top10_students = mat.iloc[top_10_indexes, :]
boys_from_top_10 = len(top10_students[top10_students['sex'] == 'M'])

In [43]:
mean, std = [0, 0]

In [44]:
student_counts_for_each_age = 0

In [45]:
father, mother = [0, 0]

In [46]:
both_present = 0

In [47]:
GP_diff, MS_diff = [0, 0]

In [48]:
top5_correlations = 0

In [49]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{boys} {girls}\n")
    file.write(f"{students_17_year_old}\n")
    file.write(f"{boys_from_top_10}\n")
    file.write(f"{round(mean, 3)} {round(std, 3)}\n")
    file.write(f"{student_counts_for_each_age}\n")
    file.write(f"{father} {mother}\n")
    file.write(f"{both_present}\n")
    file.write(f"{round(GP_diff, 3)} {round(MS_diff, 3)}\n")
    file.write(f"{top5_correlations}")